_auth = ZHJvbmU6QVA1UnZqUFRHY0hyUlhOTEN4bnZCMnBlRndzcWVUek1SVnBiSkY=
always-auth = true
email = tech.devtools.team@shutterstock.com
registry=http://artifactory.shuttercorp.net/artifactory/api/npm/npm-composite
